-- 菜单 SQL
insert into sys_menu (menu_name, parent_id, order_num, url, menu_type, visible, perms, icon, create_by, create_time, update_by, update_time, remark)
values('${functionName}', '${parentMenuId}', '1', '/${moduleName}/${businessName}', 'C', '0', '${permissionPrefix}:view', '#', 'admin', now(), '', null, '${functionName}菜单');

-- 按钮 SQL（PostgreSQL 兼容：通过 currval 获取最近一次插入 sys_menu 生成的 menu_id）
insert into sys_menu (menu_name, parent_id, order_num, url, menu_type, visible, perms, icon, create_by, create_time, update_by, update_time, remark)
values('${functionName}查询', currval(pg_get_serial_sequence('sys_menu','menu_id')), '1',  '#',  'F', '0', '${permissionPrefix}:list',         '#', 'admin', now(), '', null, '');

insert into sys_menu (menu_name, parent_id, order_num, url, menu_type, visible, perms, icon, create_by, create_time, update_by, update_time, remark)
values('${functionName}新增', currval(pg_get_serial_sequence('sys_menu','menu_id')), '2',  '#',  'F', '0', '${permissionPrefix}:add',          '#', 'admin', now(), '', null, '');

insert into sys_menu (menu_name, parent_id, order_num, url, menu_type, visible, perms, icon, create_by, create_time, update_by, update_time, remark)
values('${functionName}修改', currval(pg_get_serial_sequence('sys_menu','menu_id')), '3',  '#',  'F', '0', '${permissionPrefix}:edit',         '#', 'admin', now(), '', null, '');

insert into sys_menu (menu_name, parent_id, order_num, url, menu_type, visible, perms, icon, create_by, create_time, update_by, update_time, remark)
values('${functionName}删除', currval(pg_get_serial_sequence('sys_menu','menu_id')), '4',  '#',  'F', '0', '${permissionPrefix}:remove',       '#', 'admin', now(), '', null, '');

insert into sys_menu (menu_name, parent_id, order_num, url, menu_type, visible, perms, icon, create_by, create_time, update_by, update_time, remark)
values('${functionName}导出', currval(pg_get_serial_sequence('sys_menu','menu_id')), '5',  '#',  'F', '0', '${permissionPrefix}:export',       '#', 'admin', now(), '', null, '');
